**/node_modules
**/dist
**/docs
**/.vscode
**/.git
**/.github
**/.gitignore
**/.cache
**/.tmp
**/.temp
**/dist
**/build
**/*Dockerfile
README.md
README.rst
**/*.md
**/*.rst
__pycache__
tests
**/*.db
**/database.db
database.db
